<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Home - Ecommerce Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <div>
            
        </div>
        <div>
            <h1>Admin Control Panel</h1>
        </div>

        <div>
            <p>Ecommerce Control Panel - Copyright &copy; Ecommerce</p>
        </div>
    </div>
</body>
</html>