<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>[[${pageTitle}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">

    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo_ecommerce.png}" alt="Ecommerce Logo" class="img-fluid" style="height: 60px; margin-left: 10px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/categories}">Categories</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/brands}">Brands</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/products}">Products</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/customers}">Customers</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/shipping}">Shipping</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/orders}">Orders</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/reports}">Reports</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/articles}">Articles</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/menus}">Menus</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/settings}">Settings</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <h2>Manage Users | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: auto;"
          th:object="${user}" onsubmit="return checkEmailUnique(this);">
        <input type="hidden" id="id" th:if="${user.id != null}" th:field="*{id}"/>
        <div class="border border-secondary rounded-3 p-4">
            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="email" class="form-control" th:field="*{email}" id="email" required minlength="8" maxlength="128"/>
                    </label>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45"/>
                    </label>
                </div>
            </div>
            <!-- Khi tạo mới -->
            <div th:if="${user.id == null}" class="form-group row mb-3">
                <label for="passwordNew" class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" id="passwordNew" class="form-control"
                           th:field="*{password}" placeholder="Enter password"
                           required minlength="8" maxlength="20"/>
                </div>
            </div>

            <!-- Khi update -->
            <div th:if="${user.id != null}" class="form-group row mb-3">
                <label for="passwordUpdate" class="col-sm-4 col-form-label">New Password:</label>
                <div class="col-sm-8">
                    <input type="password" id="passwordUpdate" class="form-control"
                           th:field="*{password}" placeholder="Leave blank to keep current password"
                           minlength="8" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Roles:</label>
                <div class="col-sm-8">
                    <th:block th:each="role : ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                            th:text="${role.name}" th:value="${role.id}"
                               class="m-2"
                        />
                        - <small>[[${role.description}]]</small>
                        <br/>
                    </th:block>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" th:field="*{enabled}"/>
                    </label>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="save" class="btn btn-primary m-3" />
                <input type="button" value="cancel" class="btn btn-secondary center" id="buttonCancel"/>
            </div>
        </div>
    </form>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>Ecommerce Control Panel - Copyright &copy; Ecommerce</p>
    </div>
</div>
</body>

<script type="text/javascript">
    // Button Cancel
    $(document).ready(function() {
        $("#buttonCancel").click(function() {
                window.location = "[[@{/users}]]";
        });
    });

    // Check Email Unique
    function checkEmailUnique(form){
        let url = "[[@{/users/check_email}]]";
        let userEmail = $("#email").val();
        let userID = $("#id").val();
        let csrfValue = $("input[name='_csrf']").val();
        let params = {id: userID, email : userEmail, _csrf: csrfValue};

        $.post(url, params, function(response){
            if(response === "OK") {
                form.submit();
            } else if(response === "Duplicated") {
                showModalDialog("Warning", "This email is already in use: " + userEmail);
            } else {
                showModalDialog("Error", "Unknown response from server: " + response);
            }
        }).fail(function(){
            showModalDialog("Error", "Could not connect to the server!");
        });

        return false;
    }


    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        let myModal = new bootstrap.Modal(document.getElementById("modalDialog"));
        myModal.show();
    }


</script>
</html>
